<div class="center hero-unit">
  <%= render 'layouts/header' %>
  <h2>nav bar</h2>
  <h1>home for one month rails</h1>
  <p>this is the dummy project for o.m. rails</p>
  <%= link_to 'om rails', 'http://onemonthrails.com' %>
  <%= link_to 'about om rails', about_path %>
  <%= render 'layouts/footer' %>
</div>
